body {
    margin: 0;
}

h1 {
    margin: 0;
    font-family: "Comic Relief", "Courier New";
    font-size: 100px;
    color: white;
    text-align: center;
    padding-top: 50px;
}

#welcome {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Comic Relief", "Courier New";
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 10vh;
}

#teehee {
    margin: 0;
    font-family: "Comic Relief", "Courier New";
    font-size: 100px;
    color: black;
    text-align: center;
    padding-top: 5vh;
}

.top-section{
    min-height: 70vh;
    background: linear-gradient(to top, rgb(207, 6, 207), rgb(255, 80, 255));
    background-repeat: no-repeat;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    line-height: 0;
}

.wave svg {
    display: block;
    width: 100%;
    height: 120px;
}

.bottom-section{
    position: relative;
    min-height: 40vh;
    background-color: rgb(255, 197, 252);
}